<h1 style="text-align: center; font-family: 'Comfortaa', cursive;">Liste des Entreprises</h1>
<br><hr><br>
<div class="row">
    <div *ngFor="let item of items ;" class="col-md-4">
        <div class="card card-accent-primary">
          <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                    {{item.entrepriseName}}
                </div>
                <div class="col-md-6">
                    <p style="text-align: right"><span class="badge badge-pill badge-info">{{item.nbOffres}}</span></p>
                    </div>
              </div>
          </div>
          <hr>
          <div class="card-block">
                <div class="row">
                        <div class="col-md-9">
                                <img src="{{item.logo}}" alt="USA" style="height:40px;" src="{{item.logo}}">
                        </div>
                        <div class="col-md-3">
                                <button type="button" (click)="entrepriseProfile(item.recruteur_id)" class="btn btn-outline-primary btn-sm">Détails</button>
                            </div>
                      </div>
              
              
          </div>
          <hr>

        </div>
      </div><!--/.col-->
</div>