<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="header">
                      <h2 style="text-align: center; font-family: 'Comfortaa', cursive;" class="title">{{items.entrepriseName}}</h2>
                  </div>
                  <br><hr><br>
                  <div class="content">
                      <form>
                          <div class="row">
                              <div class="col-md-1"></div> 
                              <div class="col-md-10">
                                  <div class="form-group">
                                      <p style="text-align: justify; font-family: 'Comfortaa', cursive;">{{items.description}}</p>
                                  </div>
                              </div>
                              <div class="col-md-1"></div> 
                          </div>
                          
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-user">
                  <br>
                  <div class="image text-center">
                      <br>
                      <img src="{{items.logo}}" style="height:50px;" alt="..."/>
                  </div>
                  <div class="content text-center">
                      <br>
                      <p class="description text-center"><i class="fa fa-map-marker"></i>&nbsp;{{items.emplacement}} <br>
                        <i class="fa fa-phone"></i>&nbsp;{{items.tel}} <br>
                        <i class="fa fa-envelope"></i>&nbsp;{{items.email}} <br>
                        <i class="fa fa-globe"></i>&nbsp;{{items.webSite}} <br>
                        <i class="fa fa-users"></i>&nbsp;{{items.nbEmployee}} Employés <br>
                        <i class="fa fa-box-open "></i>&nbsp;{{items.nbOffres}} Offres
                      </p>
                      <button class="btn btn-info btn-fill " (click)="offreEntreprise()" >Voir toutes les offres!</button><br><br>
                      <button class="btn btn-info btn-fill " (click)="offreEntreprise()" >Ajouter Offre</button><br>
                  </div>
                  <hr>
                  <div class="text-center">
                      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
