<div class="row">
    <div *ngFor="let item of items" class="col-sm-6 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-block">
          <div class="row">
            <div class="col-md-9">
               {{item.name}} 
            </div>
            <div class="col-md-3">
                <p style="text-align: right;"><i class="fa fa-calendar fa-sm"></i>&nbsp;</p>
            </div>
          </div>
            <hr>
          <p></p>
        </div>
      </div>
    </div><!--/.col-->
    
      
</div>