<div class="row">
    <div *ngFor="let item of items" class="col-sm-6 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-block">
          <div class="row">
            <div class="col-md-9">
               <b>{{item.title}}</b>
            </div>
            <div class="col-md-3">
                <p style="text-align: right;"><i class="fa fa-calendar fa-sm"></i>&nbsp;<b>{{item.dateAjout}}</b></p>
            </div>
          </div>
            <hr>
          <div class="row">
            <div class="col-md-10">
                <p>{{item.description}}</p>
            </div>
            <div class="col-md-2">
                <button type="button" (click)="offreProfile(item.id)" class="btn btn-outline-primary btn-sm">Détails</button>
                <button type="button" (click)="offreProfile(item.id)" class="btn btn-outline-primary btn-sm">Postuler</button>
            </div>           
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="{{item.entrepriseName.logo}}" alt="USA" style="height:20px;" src="{{item.entrepriseName.logo}}">
            </div>
          <div class="col-md-2">
          <i class="icon-location-pin icons"></i>&nbsp;<u>{{item.entrepriseName.emplacement}}</u>
      </div>
      <div class="col-md-8">
        </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    
      
</div>