<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/offre']" href="#">Annonces</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/entreprise']">Entreprises</a>
    </li>
  
  </ul>
  
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>


    <li class="nav-item hidden-md-down" *ngIf="!isLoggedIn">
        <button type="button" routerLinkActive="active" [routerLink]="['/pages/login']" class="btn btn-success btn-sm">Connexion</button>
    </li>&nbsp; 

    <li class="nav-item hidden-md-down" *ngIf="isLoggedIn">
      <button type="button" routerLinkActive="active" (click)="logout()" class="btn btn-danger btn-sm">Déconnexion</button>
  </li>&nbsp; 

    <li class="nav-item hidden-md-down nav-item dropdown" dropdown (onToggle)="toggled($event)" *ngIf="!isLoggedIn">
        
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <button type="button"  class="btn btn-primary btn-sm">Inscription</button>
          </a>
          <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">
    
            <div class="dropdown-header text-center"><strong>Account</strong></div>
    
            <a routerLinkActive="active" [routerLink]="['/pages/register']" class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Candidat</a>
            <a routerLinkActive="active" [routerLink]="['/pages/recruteur']" class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Recruteur</a>
            
          </div>
      </li>


    <!--<li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="hidden-md-down">admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>Account</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>-->
    <li class="nav-item hidden-md-down">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
    </li>
  </ul>
  
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Accueil <span class="badge badge-info">NEW</span></a>
        </li>
        
        <li class="divider"></li>
        <li class="nav-title">
          Annonces
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 
            par Catégories</a>
          <ul *ngFor="let item of items" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" (click)="selectBySecteur(item.secteur)"><i class="icon-puzzle"></i> {{item.secteur}}</a>
            </li>
            
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> par Type d'emploi</a>
          <ul *ngFor="let item of itemsNature" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" (click)="selectByTypeEmploi(item.nature)"><i class="icon-star"></i> {{item.nature}}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> par Ville</a>
          <ul *ngFor="let item of itemsVille" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" (click)="selectByVille(item.emplacement)"><i class="icon-star"></i> {{item.emplacements.emplacement}}</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Entreprises
        </li>
        <li *ngIf="check" class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Affiner par Ville </a>
          <ul *ngFor="let item of itemsEmplacement" class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" (click)="selectByEmplacement(item.emplacement)"><i class="icon-star"></i> {{item.emplacement}}</a>
            </li>
          </ul>
        </li>
        
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
      
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu hidden-md-down">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
          <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Accueil</a>
          <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
      
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

  <aside class="aside-menu">
      <img src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
      <span class="hidden-md-down" *ngIf="isLoggedIn">{{name}}-{{email}}</span>

        <div class="dropdown-header text-center"><strong>Operations</strong></div>

        <a class="dropdown-item" (click)="modal1.show()"><i class="fa fa-plus"></i> Ajouter Offre</a>
        <a class="dropdown-item" (click)="modal1.show()"><i class="fa fa-archive"></i> Mes Offres</a>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
     
  </aside>
</div>
<app-modal #modal1>
  <div  class="app-modal-header">
    Ajout d'un offre
  </div>
  
  <div class="app-modal-body">
      <form [formGroup]="myForm">
    <div class="input-group mb-1">
      <span class="input-group-addon"><i class="icon-user"></i></span>
      <input type="text" formControlName="title" class="form-control" placeholder="Titre offre" id="title" #title>
    </div>
    <div class="input-group mb-1">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        <select formControlName="nature" id="nature" class="form-control" size="1" #nature>
          <option value="">Nature</option>
          <option value="CDI">CDI</option>
          <option value="CDD">CDD</option>
          <option value="Stage">Stage</option>
          <option value="PFE">PFE</option>
          <option value="Temps plein">Temps plein</option>
          <option value="Temps partiel">Temps partiel</option>
        </select>
      </div>
      <div class="input-group mb-1">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
          <select formControlName="duree" id="duree" class="form-control" size="1" #duree>
            <option value="">Duree</option>
            <option value="1 à 3 mois">1 à 3 mois</option>
            <option value="3 à 6 mois">3 à 6 mois</option>
            <option value="Durée indéterminée">Durée indéterminée</option>
          </select>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-addon"><i class="fa fa-home"></i></span>
            <select formControlName="niveau" id="niveau" class="form-control" size="1" #niveau>
              <option value="">Niveau d'étude</option>
              <option value="Sans diplôme">Sans diplôme</option>
              <option value="Bac">Bac</option>
              <option value="Bac +2-BTS/DUT">Bac +2-BTS/DUT</option>
              <option value="Bac +3-licence Pro">Bac +3-licence Pro</option>
              <option value="Bac +4">Bac +4</option>
              <option value="Bac +5 ou plus">Bac +5 ou plus</option>
            </select>
          </div>
          <div class="input-group mb-1">
            <span class="input-group-addon"><i class="fa fa-home fa-lg mt-2"></i></span>
            <select formControlName="secteur" id="select" id="secteur" class="form-control" size="1" #secteur>
              <option value="">Secteur</option>
              <option value="Education Physique">Education Physique</option>
              <option value="Centres d'appels">Centres d'appels</option>
              <option value="Informatique">Informatique</option>
              <option value="Immobilier">Immobilier</option>
              <option value="Automatisme">Automatisme</option>
              <option value="Mécatronique">Mécatronique</option>
              <option value="Chimie">Chimie</option>
              <option value="Pétrolière">Pétrolière</option>
              <option value="Fonction publique">Fonction publique</option>
              <option value="Commerce">Commerce</option>
              <option value="Banque">Banque</option>
              <option value="Ingenierie">Ingenierie</option>
              <option value="Assurances">Assurances</option>
              <option value="Comptabilité">Comptabilité</option>
              <option value="Transport">Transport</option>
              <option value="Automobile">Automobile</option>
              <option value="Juridique">Juridique</option>
              <option value="Marketing">Marketing</option>
              <option value="Finance">Finance</option>
              <option value="Gestion">Gestion</option>
              <option value="Agroalimentaire">Agroalimentaire</option>
              <option value="Mécanique">Mécanique</option>
              <option value="Electricité">Electricité</option>
              <option value="Restauration">Restauration</option>
              <option value="Hôtellerie et Tourisme">Hôtellerie et Tourisme</option>
            </select>
          </div>
            <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <textarea formControlName="description" class="form-control" placeholder="Description" id="description" #description></textarea>
              </div> 
              <div class="input-group mb-1">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" formControlName="salaire" class="form-control" placeholder="Salaire" id="salaire" #salaire>
                </div>  
              </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
    <button type="submit" (click)="onSubmit(title.value, nature.value, duree.value, niveau.value, description.value, salaire.value, secteur.value)" class="btn btn-primary">Save changes</button>
  </div>

</app-modal>
<footer class="app-footer">
  <p style="text-align: center"> <> with ♥ by CasadeTrabajo.</p>
</footer>
