<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-2">
            <div class="card-block p-2">
              <h1>S'inscrire</h1>
              <p class="text-muted">Créer votre profil Recruteur</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" placeholder="username" name="username" #username>
              </div>
  
              
              <div class="input-group mb-1">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Email" name="email" #email>
              </div>
  
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-phone"></i></span>
                <input type="text" class="form-control" placeholder="Tel" name="tel" #tel>
              </div>
  
              
  
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="password" #password>
              </div>
  
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Répeter password" name="confirmation">
              </div>
              
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-home"></i></span>
                <input type="text" class="form-control" placeholder="Nom Entreprise" name="entrepriseName" #entrepriseName>
              </div>

              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-globe"></i></span>
                <input type="text" class="form-control" placeholder="Site web" name="webSite" #webSite>
              </div>

              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                <select id="select" id="emplacement" class="form-control" size="1" #emplacement>
                  <option value="Governorate">Governorate</option>
                  <option value="Ariana">Ariana</option>
                  <option value="Béja">Béja</option>
                  <option value="Ben Arous">Ben Arous</option>
                  <option value="Bizerte">Bizerte</option>
                  <option value="Gabès">Gabès</option>
                  <option value="Gafsa">Gafsa</option>
                  <option value="Jendouba">Jendouba</option>
                  <option value="Kairouan">Kairouan</option>
                  <option value="Kasserine">Kasserine</option>
                  <option value="Kélibia">Kélibia</option>
                  <option value="Le Kef">Le Kef</option>
                  <option value="Mahdia">Mahdia</option>
                  <option value="La Manouba">La Manouba</option>
                  <option value="Médenine">Médenine</option>
                  <option value="Monastir">Monastir</option>
                  <option value="Nabeul">Nabeul</option>
                  <option value="Sfax">Sfax</option>
                  <option value="Sidi Bouzid">Sidi Bouzid</option>
                  <option value="Siliana">Siliana</option>
                  <option value="Sousse">Sousse</option>
                  <option value="Tataouine">Tataouine</option>
                  <option value="Tozeur">Tozeur</option>
                  <option value="Tunis">Tunis</option>
                  <option value="Zaghouan">Zaghouan</option>
                </select>
              </div>

              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="fa fa-image"></i></span>
                <input type="file" class="form-control" placeholder="logo" name="logo" #logo>
              </div>

              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                <input type="text" class="form-control" placeholder="Description" name="description" #description>
              </div>

              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input type="text" class="form-control" placeholder="Nombre d'employées" name="nbEmployee" #nbEmployee>
              </div>
              
              <button type="submit" (click)="onSubmit(username.value, email.value, tel.value, password.value, entrepriseName.value, webSite.value, emplacement.value, logo.value, description.value, nbEmployee.value)" class="btn btn-block btn-success">Créer Compte</button>
            </div>
            <div class="card-footer p-2">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  