<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form [formGroup]="myForm" (ngSubmit)="onSignup()">
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" formControlName="name" class="form-control" placeholder="Name" id="name" #name>
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" id="lastName" #lastName>
            </div>
            
            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" formControlName="email" class="form-control" placeholder="Email" id="email" #email>
              <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
              <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-phone"></i></span>
              <input type="text" formControlName="tel" class="form-control" placeholder="Tel" id="tel" #tel>
            </div>

            

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input formControlName="password" type="password" class="form-control" placeholder="Password" id="password" #password>
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input formControlName="confirmation" type="password" class="form-control" placeholder="Repeat password" id="confirmation" #confirmation>
              <span *ngIf="!confirmation.pristine && confirmation.errors != null && confirmation.errors['passwordsNotMatch']">Passwords do not match</span>
            </div>
            
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="fa fa-calendar fa-lg mt-2"></i></span>
              <input type="date" formControlName="birthDate" class="form-control" placeholder="Date" id="birthDate" #birthDate>
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="fa fa-home fa-lg mt-2"></i></span>
              <select formControlName="gouvernorate" id="select" id="gouvernorate" class="form-control" size="1" #gouvernorate>
                <option value="Governorate">Governorate</option>
                <option value="Ariana">Ariana</option>
                <option value="Béja">Béja</option>
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bizerte">Bizerte</option>
                <option value="Gabès">Gabès</option>
                <option value="Gafsa">Gafsa</option>
                <option value="Jendouba">Jendouba</option>
                <option value="Kairouan">Kairouan</option>
                <option value="Kasserine">Kasserine</option>
                <option value="Kélibia">Kélibia</option>
                <option value="Le Kef">Le Kef</option>
                <option value="Mahdia">Mahdia</option>
                <option value="La Manouba">La Manouba</option>
                <option value="Médenine">Médenine</option>
                <option value="Monastir">Monastir</option>
                <option value="Nabeul">Nabeul</option>
                <option value="Sfax">Sfax</option>
                <option value="Sidi Bouzid">Sidi Bouzid</option>
                <option value="Siliana">Siliana</option>
                <option value="Sousse">Sousse</option>
                <option value="Tataouine">Tataouine</option>
                <option value="Tozeur">Tozeur</option>
                <option value="Tunis">Tunis</option>
                <option value="Zaghouan">Zaghouan</option>
              </select>
            </div>
            

            <div class="form-group row">
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <i class="fa fa-mars fa-sm mt-2"></i>&nbsp;&nbsp;<input type="radio" id="civility" value="mars" #civility> 
                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline" for="inline-radio2">
                  <i class="fa fa-venus fa-sm mt-2"></i>&nbsp;&nbsp;<input type="radio" id="civility" value="venus" #civility>
                </label>
                
              </div>
            </div>

            <button type="submit" (click)="onSubmit(name.value, lastName.value, email.value, tel.value, password.value, civility.value, birthDate.value, gouvernorate.value)" class="btn btn-block btn-success">Create Account</button>
            </form>
          </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
