<h1 style="text-align: center; font-family: 'Comfortaa', cursive;">Trouvez l'entreprise de vos rêves parmi nos recruteurs !</h1>
  <p style="text-align: center; font-family: 'Comfortaa', cursive;">Votre prochain poste n'attend plus que vous. Postulez dès aujourd'hui ! </p>
<div class="animated fadeIn">
  
    <div class="row">
       
        <div class="col-sm-3">
            <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                  <div class="form-group">
                    <h4>Ardia</h4>  
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info btn-sm">22 offres</button>
                  </div>
                  <div style="height: 100px">
                  <div class="form-group">
                      <img src="assets/img/avatars/ardia.png" alt="USA" style="height:24px;" src="assets/img/avatars/ardia.png">
                  </div>
                </div>
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir les offres</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                  <div class="form-group">
                    <h4>Talan</h4>  
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info btn-sm">14 offres</button>
                  </div>
                  <div style="height: 100px">
                  <div class="form-group">
                      <img src="assets/img/avatars/talan.png" alt="USA" style="height:24px;" src="assets/img/avatars/talan.png">
                  </div>
                </div>
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir les offres</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                  <div class="form-group">
                    <h4>Orange</h4>  
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info btn-sm">22 offres</button>
                  </div>
                  <div style="height: 100px">
                  <div class="form-group">
                      <img src="assets/img/avatars/orange.jpg" alt="USA" style="height:80px;" src="assets/img/avatars/orange.jpg">
                  </div>
                </div>
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir les offres</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
              <div class="col-sm-3">
                  <div style="line-height: 80px;">
                    <button type="button" style=" text-align: center; height: 295px; font-family: 'IBM Plex Mono', monospace;color: white; border: transparent; background-color: #5bc0de" class="btn btn-outline-primary btn-lg btn-block"><span style="font-size: 13px"> Tous les</span><br>Entreprises<br><i class="fa fa-arrow-right fa-lg mt-2"></i></button>
                  </div>   
                </div>
        
        
      </div><!--/.row-->
      <br><hr><br>
      <h1 style="text-align: center; font-family: 'Comfortaa', cursive;">Testez-vous et révélez votre talent !</h1>
  <p style="text-align: center; font-family: 'Comfortaa', cursive;">Grace aux challenges informatiques propulsés par SkillValue, évaluez votre place sur le marché de la tech et l’IT et affichez vos compétences informatiques en temps réel  </p>
<div class="animated fadeIn">
  
    <div class="row">
       
        <div class="col-sm-3">
            <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm">Quizz</button>
                      </div>
                      <div style="height: 90px">
                  <div class="form-group">
                    <h4>2G and 3G Networks quiz beginner level</h4>  
                  </div>
                </div>
                <i class="fa fa-clock-o fa-lg mt-2"></i>&nbsp;&nbsp;20 min.<br>
                <i class="fa fa-question-circle fa-lg mt-2"></i>&nbsp;&nbsp;40 Questions<br style="margin-bottom: 10px">
                  
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir le test</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                  
                  <div class="form-group">
                    <button type="button" class="btn btn-info btn-sm">Quizz</button>
                  </div>
                  <div style="height: 90px">
                  <div class="form-group">
                      <h4>ActionScript 2.0 quiz beginner level</h4>  
                    </div>
                  </div>
                  <i class="fa fa-clock-o fa-lg mt-2"></i>&nbsp;&nbsp;20 min.<br>
                  <i class="fa fa-question-circle fa-lg mt-2"></i>&nbsp;&nbsp;40 Questions<br style="margin-bottom: 10px">
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir le test</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div style="border-top-color: #5bc0de; border-top-width: 3px " class="card">
              
              <div class="card-block">
                <form action="" method="post">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm">Quizz</button>
                    </div>
                    <div style="height: 90px">
                      <div class="form-group">
                        <h4>ActionScript 2.0 quiz niveau débutant</h4>  
                      </div>
                    </div>
                    <i class="fa fa-clock-o fa-lg mt-2"></i> &nbsp;&nbsp;20 min.<br>
                    <i class="fa fa-question-circle fa-lg mt-2"></i>&nbsp;&nbsp;40 Questions<br style="margin-bottom: 10px">
                
                  <div class="form-group form-actions">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Voir le test</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
              <div class="col-sm-3">
                  <div style="line-height: 80px;">
                    <button type="button" style=" text-align: center; height: 335px; font-family: 'IBM Plex Mono', monospace;color: white; border: transparent; background-color: #5bc0de" class="btn btn-outline-primary btn-lg btn-block"><span style="font-size: 13px"> Tous les</span><br>Entreprises<br><i class="fa fa-arrow-right fa-lg mt-2"></i></button>
                  </div>   
                </div>
        
        
      </div><!--/.row-->
    
  
</div>



